@model ScientistAssignmentsModel

@{ ViewData["Title"] = "List of Assignments";
    //Default priority
    string priorityClass = "Default-Priority"; }

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1><br /><br />
    <h1 class="displayScientist">@Model.Scientist.Name</h1>
    <ul class="list-group list-group-flush myList">
        @foreach (var card in Model.CardModel.Cards)
        {
            <li class="list-group-item">
                <div class="card">

                    @{ priorityClass = Model.CardModel.GetPriorityClass(card); }

                    <div class="d-flex flex-column card-body @priorityClass">
                        <h5 class="card-title">@card.Priority</h5>
                        <h6 class="card-title">@card.Title</h6>
                        <h6 class="card-title">@card.DueBy</h6>

                        <div class="d-flex flex-column align-items-end card-footer">
                        </div>
                    </div>
                </div>
            </li>
            }
    </ul>
</div>