@using System.Net.Mime
@using System.Security.Cryptography
@using AutoMapper
@using ConcordiaLib.Domain
@using ConcordiaLib.Enum
@using ConcordiaMVC
@model CardPriorityModel

@{
    ViewData["Title"] = "House of Cards";
    //Default to low priority
    string priorityClass = "Low-Priority";
}

<div class="text-center align-items-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <ul class="list-group list-group-flush myList">
        @foreach (var card in Model.Cards)
        {

            <li class="list-group-item bg-transparent">

                @{
                    priorityClass = Model.GetPriorityClass(card);
                }

                <div class="card">

                    <div class="d-flex flex-column card-body @priorityClass">

                        <h5 class="card-title">@card.Title</h5>
                        <h6 class="card-Priority">@card.CardList.Name</h6>
                        <h6 class="card-Priority">@card.Priority</h6>
                        <h6 class="card-Dueby">@card.DueBy</h6>
                        <p class="card-Description">@card.Description</p>

                        @if (card.LastComment is not null)
                        {
                            <p class="card-Description">@card.LastComment.Text</p>
                        }
                        <div class="ButtonRow">
                            @Html.ActionLink("Add Comment", "CreateComment", new { id = card.Id }, new { @class = "btn btn-sm btn-outline-primary w-25 me-3 btn btn-light" })
                            @Html.ActionLink("Change Status", "ChangeStatus", new { id = card.Id }, new { @class = "btn btn-sm btn-outline-primary w-25 me-3 btn btn-light" })
                        </div>
                        <div class="d-flex flex-column align-items-end card-footer">
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>